<div class="cash-form" th:fragment="purchaseform">
    <h1>Добавить покупку</h1>
    <form action="#" th:action="@{/user/purchase/add}" th:object="${purchase}" method="post">
        <div class="form-row">

            <div class="col-6">
                <input autocomplete="off" type="text" class="form-control" id="name" th:field="*{name}"
                       placeholder="Наименование" required/>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
            </div>

            <div class="col">

                <input type="text" autocomplete="off" class="form-control" id="purchaseDate" placeholder="Дата"
                       th:field="*{purchaseDate}" required/>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('purchaseDate')}" th:errors="*{purchaseDate}">
            </div>

            <div class="col">
                <select th:field="*{currency.name}" class="form-control" id="currency" >
                    <option th:each="currency: ${currencies}" th:value="${currency.name}"
                            th:text="${currency.displayName}"></option>
                </select>
            </div>
            <div class="col-auto">
                <button class="btn btn-success" type="submit">
                    <span class="material-icons">done</span>
                </button>
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" type="reset">
                    <span class="material-icons">close</span>
                </button>
            </div>

        </div>
    </form>
    <script>
        $(document).ready(function() {
            $('#purchaseDate').datetimepicker({
                value: 'asd',
                format:'Y-m-d H:i:s',
                lang:'ru'
            });

            $('#currency').select2({
               // theme: "bootstrap4",
                width : "100%" ,
                ajax: {
                    url: '/currencies',
                    dataType: 'json',
                    delay: 250,
                    processResults: function (response) {
                        return {
                            results: response
                        };
                    },
                    cache: true
                }
            });
        });




    </script>
</div>