<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns:v-for="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/head :: head"></div>
    <title>Your Finances - User Purchases</title>
</head>
<body>

<div class="wrap">
    <div th:replace="fragments/header :: header">
    </div>
    <div class="container">
        <div class="cash" th:if="${purchases!=null}">
            <h2>Мои покупки</h2>

            <div id="purchases-list" class="list-group">
                <div v-for="(purchase,index) in purchases"
                     class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="item-block">
                        <a :href="'/user/purchase/'+purchase.id+'/items'"
                           v-if="editMode==false || currentId!=purchase.id">
                            {{ purchase.name }}
                        </a>
                        <span class="material-icons cursor-pointer" @click="editMode=true; currentId=purchase.id"
                              v-if="editMode==false || currentId!=purchase.id">
                        create
                        </span>
                        <div class="input-group" v-if="editMode==true && currentId==purchase.id">
                            <input type="text" v-model="purchase.name" aria-describedby="basic-addon2"
                                   class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" @click="savePurchase(index)">
                                    <span class="material-icons">done</span>
                                </button>
                                <button class="btn btn-outline-secondary" type="button" @click="resetPurchases()">
                                    <span class="material-icons">close</span>
                                </button>
                                <button class="btn btn-outline-secondary" type="button" @click="deletePurchase(purchase.id,index)">
                                    <span class="material-icons">delete_outline</span>
                                </button>
                            </div>
                        </div>

                    </div>
                    <span class="badge badge-primary badge-pill">{{ purchase.purchaseDate }}</span>


                </div>
            </div>
            <div class="purchase-form" th:replace="user/purchase/purchaseform :: purchaseform"></div>
        </div>

    </div>
</div>
<script src="/src/js/purchase.js" type="text/javascript"></script>

<div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>
<!--<script th:src="@{~/webjars/jquery/3.5.1/jquery.min.js}"></script>-->
<script th:src="@{~/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</body>
</html>