<th:block th:fragment="head">
    <link th:rel="stylesheet" th:href="@{~/webjars/bootstrap/4.5.3/css/bootstrap.min.css} "/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        html,body{
           height: 100%;
        }

        .wrap{
            min-height: 100%;
            height: auto;
            margin: 0 auto -60px;
            padding: 0 0 60px;
        }

        .footer{
            height: 60px;
            background-color: #f5f5f5;
            border-top: 1px solid #ddd;
            padding-top: 20px;
        }

    </style>
</th:block>
