<!DOCTYPE html>
<html>
<head>
    <link th:rel="stylesheet" th:href="@{assets/select2-develop/dist/css/select2.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
    <div class="container">
        <a class="navbar-brand" href="#">Your Finances</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${module == 'home' ? 'active' : ''}">
                    <a class="nav-link" href="#" th:href="@{/}">Home</a>
                </li>
                <li th:classappend="${module == 'tasks' ? 'active' : ''}">
                    <a class="nav-link" href="#" th:href="@{/news}">News</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-2">
                <li class="nav-item" th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a class="nav-link" href="/login" th:href="@{/login}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Sign in
                    </a>
                </li>
                <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                    <li class="nav-item">
                        <a class="nav-link" href="/user/purchase" th:href="@{/user/purchase/}">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Мои покупки
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user" th:href="@{/user}">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Мой профиль
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Logout (<span
                                th:text="${#authentication.getPrincipal().getUsername()}"></span>)
                        </a>
                        <form style="visibility: hidden" id="form" method="post" action="#"
                              th:action="@{/logout}"></form>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>