<!DOCTYPE html>
<head>
    <div th:replace="fragments/head :: head"></div>
    <title>Your Finances - Home</title>
</head>
<body>
<div class="wrap">
    <div th:replace="fragments/header :: header">
    </div>
    <div class="container">
        <div class="hero-unit">
            <h1>Your Finances</h1>
            <p>
                Welcome to the Your Finances application!
                Get started quickly by signing up.
            </p>
            <p>
                <a href="/signup" th:href="@{/signup}" class="btn btn-large btn-success">Sign up</a>
            </p>
        </div>

    </div>
</div>
<div class="footer" th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>
<script th:src="@{~/webjars/jquery/3.5.1/jquery.min.js}"></script>
<!--<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>-->
<script th:src="@{~/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</body>
</html>