<div class="cash-form" th:fragment="newcashform">
    <h1>Новый счет/вклад</h1>
    <form action="#" th:action="@{/cash}" th:object="${cash}" method="post">
        <div class="form-row">
            <div class="col-6">
                <input autocomplete="off" type="text" class="form-control" id="name" th:field="*{name}"
                       placeholder="Наименование счета/вклада:">
                <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
            </div>
            <div class="col">
                <select th:field="*{currency.name}" class="form-control select2-single" id="currency">
                    <option value="">Валюта</option>
                    <option th:each="currency: ${currencies}" th:value="${currency.name}"
                            th:text="${currency.displayName}"></option>
                </select>
            </div>
            <div class="col">
                <input type="text" autocomplete="off" class="form-control" id="amount" th:field="*{amount}" placeholder="Сумма">
                <p class="alert alert-danger" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">
            </div>
            <div class="col-auto">
                <button class="btn btn-success" type="submit">
                    <span class="material-icons">done</span>
                </button>
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" type="reset">
                    <span class="material-icons">close</span>
                </button>
            </div>
        </div>
    </form>
    <script>
        $(document).ready(function() {

            $('#currency').select2({
               // theme: "bootstrap4",
                width : "100%" ,
                ajax: {
                    url: '/currencies',
                    dataType: 'json',
                    delay: 250,
                    processResults: function (response) {
                        return {
                            results: response
                        };
                    },
                    cache: true
                }
            });
        });




    </script>
</div>