<div class="cash-form" th:fragment="purchaseitemform">
    <h3>Добавить элемент покупки</h3>
    <form action="#" th:action="@{/user/purchase/}+ ${purchase.id} +@{/additem}" th:object="${purchaseItem}"
          method="post">
        <div class="form-row">
            <div class="col-6">
                <input autocomplete="off" type="text" class="form-control" id="name" th:field="*{name}" placeholder="Наименование" required/>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
            </div>

            <div class="col">
                <input type="text" autocomplete="off" class="form-control" id="price" th:field="*{price}" placeholder="Цена за единицу:" required/>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">
            </div>

            <div class="col">
                <input type="text" autocomplete="off" class="form-control" id="quantity" th:field="*{quantity}" placeholder="Количество" required/>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">
            </div>
            <div class="col-auto">
                <button class="btn btn-success" type="submit">
                    <span class="material-icons">done</span>
                </button>
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" type="reset">
                    <span class="material-icons">close</span>
                </button>
            </div>
        </div>
    </form>
    <script>

    </script>
</div>